{% extends 'pages/base.jinja'%}

{% block title%}
     Flask demo - About
{% endblock %}

{% block content%}
      <h2>Flask</h2>
      <p> Flask is an epix wep engine app in the Python heehehehehe</p>

      <h2>jinja</h2>
      <p>Jinja is a swag templating engine.</p>

{% endblock %}