{% extends 'pages/base.jinja'%}

{% block title%}
     Flask demo - About
{% endblock %}

{% block content%}
      <h2>Flask</h2>
      <p> Flask is an epix wep engine app in the Python. You might as well throw a rock at a storm and expect it to turn aside. What we did was like that. We had to try anyway.</p>

      <h2>jinja</h2>
      <p>Jinja is a swag templating engine. Things didn’t go exactly as planned, of course. Nothing ever does. But I handled it. That’s what I do. That’s what everyone on this mission does. We solve problems. We work the problem, then we work the next one.</p>

{% endblock %}