{% extends 'pages/base.jinja'%}

{% block title%}
     Flask demo - Hello!
{% endblock %}


{% block content%}
     <h1>Hello World!</h1>

     <p>This is my first Flask web app!!!!!</p>
     <p>He’d always thought that having nothing to lose would make a man dangerous. Reckless, even. But in truth, it made you cautious. You hoarded what little you had left. Because suddenly… nothing was disposable.
      Not even a single moment. You don’t have to be insane to be an artist, but it helps. You want to paint like nobody ever has? Then you have to think like nobody ever has. 
      Sometimes, the prize is not worth the costs. The means by which we achieve victory are as important as the victory itself.
      There, peeping among the cloud-wrack above a dark tor high up in the mountains, Sam saw a white star twinkle for a while. The beauty of it smote his heart…</p>
{% endblock %}